
// For now, let's disable this flag that is warning us if we are missing public
// header files in the umbrella header. We will fix that going forward.
OTHER_CFLAGS = -DSQLITE_HAS_CODEC -DFMDatabase=SF_FMDatabase -DFMStatement=SF_FMStatement -DFMDatabasePool=SF_FMDatabasePool -DFMDatabaseQueue=SF_FMDatabaseQueue -DFMResultSet=SF_FMResultSet -DFMDBBlockSQLiteCallBackFunction=SF_FMDBBlockSQLiteCallBackFunction  -Wno-incomplete-umbrella $(inherited)
OTHER_LDFLAGS = -ObjC -lssl -lcrypto -lsqlcipher

// Make sure to use only API that are safe for application extensions
APPLICATION_EXTENSION_API_ONLY = YES
